<% title "Log in" %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<% form_tag sessions_path do %>
    <div class="focusable-field">
      <%= label_tag :login, "Username or Email Address" %>
      <br/>
      <%= text_field_tag :login, params[:login] %>
    </div>
    <div class="focusable-field">
      <%= label_tag :password %>
      <br/>
      <%= password_field_tag :password %>
    </div>
    <div class="focusable-field">
      <%= submit_with_loading 'Log in' %>
    </div>

    <p>
      <small>Or do you want to <%= link_to 'recover your password?', passwords_path %></small>
    </p>
<% end %>
