<table id="forums">
  <thead>
  <tr>
    <th>Forum</th>
    <th class="date">Last post</th>
  </tr>
  </thead>
  <tbody>
  <% @forums.each do |forum| %>
      <tr class="item">
        <td>
          <%= link_to h(forum.title), forum_topics_path(forum) %>
        </td>
        <td class="date">
          <% unless forum.posts.empty? %>
              <% post = forum.posts.last %>
              <%= link_to time_ago_in_words(post.created_at) + " ago",
                          topic_posts_path(forum) + "#post#{post.id}" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
