<p>
  Search in all forums.
</p>
<% form_tag search_forums_path, :method => :get, :class => 'search-form clearfix' do %>
    <div class="input">
      <%= text_field_tag :search, '', :size => 50 %>
    </div>
    <div class="submits">
      <%= submit_tag 'Show topics', :name => 'topics', :class => 'submit' %>
      <%= submit_tag 'Show posts', :name => 'posts', :class => 'submit' %>
    </div>
<% end %>
