<li id="working_<%= admin_list_item.id %>">
  <strong><%= link_to h(admin_list_item.worker.name), user_path(admin_list_item.worker) %></strong>
  <small><%= link_to_remote '[x]', :url => working_path(admin_list_item), :method => :delete %></small>
</li>