<div class="comment <%= "comment-#{response_mood}" if defined?(response_mood) %> clearfix">
  <div class="comment-top"></div>
  
  <div class="comment-content">
    <p class="meta clearfix">
      <%= link_to_remote 'Mark as spam',
                         { :url => flags_path('flag[flaggable_type]' => 'Comment', 'flag[flaggable_id]' => comment.id),
                           :method => :post, :confirm => 'Are you sure?' },
                         { :class => 'gray', :style => "font-size: 10px; float: right;" } %>

      <%= link_to comment.author.name, user_path(comment.author), :class => 'author' %>
      <em class="date"><%= short_date comment.created_at %></em><br/>
    </p>

    <p class="comment-text">
      <%= h comment.text %>
    </p>
  </div>
  <div class="comment-bottom"></div>
</div>