<div class="comments-form clearfix">
  <%= link_to_function 'Add comment', 'this.next().toggle(); this.hide();',
                       :class => 'show-form', :style => 'display: none' %>

  <% form_remote_for :comment, :url => comments_path,
                     :html => { :id => "form#{commentable.class.name + commentable.id.to_s}" } do |f| %>
      <%= f.text_area :text, :rows => 3, :cols => 40, :class => 'comment-text-input' %>

      <div class="comment-form-right">
        <%= f.submit 'Add comment' %><br />
        <small><span class="comment-text-chars">400</span> remaining</small><br />
        <small><%= link_to_function 'Cancel', "this.up('form').previous().show();this.up('form').hide();" %></small>
      </div>

      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.name %>
  <% end %>
</div>