<div id="search">
  <h3>Search results for "<%= params[:search] %>"</h3>

  <% form_tag search_path, :method => :get, :id => 'searchform' do %>
      <%= text_field_tag :search, params[:search], :id => 'searchbox' %>
      <%= submit_tag 'Search', :name => nil, :id => 'searchbox-sumbit' %>
      <small>or <%= link_to 'go back', root_path %></small>
  <% end %>

  <div id="search-results">

    <% if @results.empty? %>
        <h4 class="center">No results.</h4>
    <% end %>

    <% @results.each do |result| %>
        <% if result.is_a? User %>
            <%= render :partial => 'users/user', :object => result %>
        <% else %>
            <%= render :partial => 'projects/project', :object => result %>
        <% end %>
    <% end %>

    <p>
      <%= will_paginate @results %>
    </p>
  </div>
</div>