<% if params[:search] %>
    <h2>
      <span>Search results for "<%= h params[:search] %>"</span>
    </h2>
    <% form_tag search_forums_path, :method => :get, :class => 'post-search-form' do %>
        <%= text_field_tag :search, params[:search], :size => 50 %>
        <%= submit_tag 'Search', :name => 'topics', :class => 'submit' %>
        <small>or <%= link_to 'go back to index', forums_path %></small>
    <% end %>
<% end %>

<table id="topics">
  <thead>
  <tr>
    <th>Topic</th>
    <th class="date">Last post</th>
  </tr>
  </thead>
  <tbody>
  <% @topics.each do |topic| %>
      <tr class="item">
        <td>
          <%= link_to h(topic.title), topic_posts_path(topic) %>
        </td>
        <td class="date">
          <% unless topic.posts.empty? %>
              <%= link_to time_ago_in_words(topic.posts.last.created_at) + " ago",
                          topic_posts_path(topic) + "#post#{topic.posts.last.id}" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<p><%= will_paginate @topics %></p>
