<% title "New Forum Topic" %>

<% form_for [@forum, @topic], :url => forum_topics_path(@forum) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p><%= f.submit "Submit" %></p>
<% end %>

<p><%= link_to "Back to Forum", forum_topics_path(@forum) %></p>
