@import lib/generic.sass
@import lib/fonts.sass
@import lib/lightbox.sass
@import lib/chat.sass


body
  background: url("../images/bg.png") repeat-x #88afd3 top center
  font-size: 80%


.nomargin
  margin: 0 !important


.auto_complete
  z-index: 100


#flames
  background: url("../images/flames.png") no-repeat top center
  height: 100%
  position: absolute
  width: 100%
  z-index: -1


.relative
  position: relative


span.field-title
  position: absolute
  left: 435px


#searchbox
  padding: 5px 10px !important
  font-size: 16px
  width: 230px !important


#searchbox-sumbit
  padding: 5px 10px


#searchform
  margin: auto
  text-align: center


a
  outline: 0

div.alphabet

  margin: 0 auto 10px
  text-align: center
  width: 680px

  a
    float: left
    width: 20px
    text-decoration: none
    padding: 3px
    color: #666
    background: #ebebeb
    margin: 0
    
    font:
      family: #{!lucida_console}
      size: 22px

    &:hover, &.active
      background: #cdcdcd

    &:hover.active
      background: #bababa


div.user-profile
  background: #F5F5F5
  width: 520px


.profile-top
  background: url('../images/profile.png') transparent no-repeat
  height: 12px
  width: 520px
  display: block


.profile-bottom
  background: url('../images/profile.png') transparent no-repeat
  height: 12px
  width: 520px
  display: block
  background-position: 0 -12px
  margin-bottom: 15px


table.user-profile-table
  float: left
  padding: 0 10px
  width: 400px


#top-bg
  width: 1040px
  margin: 20px auto 0
  background: url("../images/top-bg.png") no-repeat
  height: 10px


#bottom-bg
  width: 1040px
  margin: 0 auto
  background: url("../images/bottom-bg.png") no-repeat
  height: 10px


#container
  position: relative
  width: 960px
  margin: 0 auto
  background: #fff
  padding: 20px 40px 0px
  min-height: 600px


.round
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px


.for-sale
  color: red
  font-size: 15px
  font-weight: bold


.left
  float: left


.right
  float: right


#ie6-box
  display: none


div.separator
  margin-bottom: 10px


.gray
  color: #999


.list-none
  list-style: none


.fieldWithErrors
  display: inline

  input
    background-color: #ff9f9f

#errorExplanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0px 0px 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff

  p
    color: #333
    margin-bottom: 0
    padding: 8px

  ul
    margin: 2px 24px

    li
      font-size: 12px
      list-style: disc


h1#header
  margin: 0
  padding: 0

  a
    width: 314px
    height: 60px
    display: block
    overflow: hidden
    text-decoration: none
    color: black
    text-indent: -5000px
    background: url('/images/logo.png') no-repeat


#subheader
  padding: 0 0 0 50px
  font-size: 16px


#user-box
  float: right
  font-family: Verdana, Helvetica, Arial, sans-serif
  font-size: 14px

  a
    color: #00526F
    text-decoration: none
    font-weight: bold

    &:hover
      text-decoration: underline
  +clearfix

a#new-project
  color: white
  background: url("../images/new-project-button.png") no-repeat top
  display: block

  text-indent: -9999px

  margin-top: 10px
  width: 228px
  height: 31px
  float: right


  &:hover
    background-position: bottom 


#content
  padding-top: 8px


#footer
  text-align: center
  padding-top: 10px
  margin: 0

#left
  width: 713px
  float: left

  .project
    .head
      margin-bottom: 10px
      
      img
        float: left
      h2
        width: 500px
        float: left
        padding: 0 0 0 10px
        
        a
          font-size: 24px
          color: black
          text-decoration: none


    .voting
      display: block
      float: left
      width: 32px
      padding: 10px 20px 0
      text-align: center

      .plus, .minus, .points, .plus-active, .minus-active
        display: block

      .plus, .minus, .plus-active, .minus-active
        width: 32px
        height: 32px
        text-indent: -9999px
        background: url('../images/voting.png') no-repeat

      .plus
        background-position: bottom left
        &:hover
          background-position: top left

      .plus-active
        background-position: top left

      .minus
        background-position: bottom right
        &:hover
          background-position: top right

      .minus-active
        background-position: top right

      .points
        color: #A8A8A8
        font-size: 22px
        font-weight: bold
        font-family: Verdana, Arial, serif

    .meta
      float: right
      text-align: center
      p
        margin: 0
      .bookmarks
        a
          margin: 2px
          float: left
          display: block
          width: 34px
          height: 34px
          background: url('../images/icons/bookmarks.png') no-repeat

          &.twitter
            background-position: bottom left
            &:hover
              background-position: top left
          &.facebook
            background-position: bottom right
            &:hover
              background-position: top right
      .flag
        font-size: 10px


#right
  float: right
  width: 229px

  dl
    padding: 0.5em

  dt
    float: left
    clear: left
    width: 50px
    text-align: right
    font-weight: normal

    &:after
      content: ":"

  dd
    font-weight: bold
    margin: 0 0 0 60px
    padding: 0 0 0.5em 0

  h4.right-h4
    line-height: 22px
    font-size: 14px
    margin-bottom: 5px

  h3.sidebar-header
    height: 31px
    color: white
    line-height: 31px
    text-align: center
    margin: 0
    background: url("../images/sidebar-header.png") no-repeat
    font-size: 16px

  div.sidebar-box
    padding: 10px
    margin-bottom: 15px
    background: #f2f1f1
    -moz-border-radius: 0 0 0 10px
    border-bottom-left-radius: 10px
    -webkit-border-bottom-left-radius: 10px

    p.date
      margin: 0 0 10px 5px

  ul.list-new-projects
    margin: 0

    li
      padding: 5px 0
      margin: 5px 0
      border-bottom: 1px solid silver
      list-style: none

      a
        color: #3b3a3a
        text-decoration: none

        &:hover
          text-decoration: underline
          color: black
          background: white

      span.date
        display: block
        font-size: 8px
        text-align: right

  div.sidebar-box p
    margin: 0

  a
    color: black
    padding: 2px

    &:hover
      background: white

  .all-projects-link
    float: right
    color: darkblue

    &:hover
      color: black
      text-decoration: underline
      background: inherit

  #list-projects-page
    float: left
    display: block
    font-size: 15px
    width: 20px
    text-align: center

  a.arrow-link
    padding: 0
    text-indent: -9999px
    height: 23px
    width: 23px
    display: block
    float: left
    background: url('../images/arrows.png') no-repeat

    &#list-older-projects
      background-position: top right

      &:hover
        background-position: top right

    &#list-newer-projects
      background-position: top left

      &:hover
        background-position: top left

  img.loading
    margin: 0
    
  #search-input

    input.text
      width: 214px
      margin: -2px 0 9px 0
      padding: 5px 4px 3px 8px
      font-size: 17px
      border-radius: 4px
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      

p.help
  margin: 10px 0


#projects, #users, #search-results
  margin-top: 15px

  .user, .project
    &:hover
      background: #EFEFEF

    .content
      float: left

      img
        float: left
        margin: 5px 10px 10px 10px

      .user-text, .project-text
        float: right
        padding-top: 7px
        width: 400px

        h3
          margin-bottom: 8px
        p
          margin: 0

#users, #search-results
  .user
    .meta
      float: right
      margin: 0
      font-size: 10px
      padding: 90px 10px 0 0


#projects, #search-results
  .project
    .meta
      float: right
      margin: 0
      font-size: 10px
      padding: 90px 5px 0 0

      span.date
        color: #999

.tag-cloud
  padding: 5px 10px 0

  .tag
    color: #00365e !important
    text-decoration: underline

  .tag-v
    font-size: 19px

  .tag-vv
    font-size: 17px

  .tag-vvv
    font-size: 15px

  .tag-vvvv
    font-size: 13px

  .tag-vvvvv
    font-size: 12px


.tags
  margin-top: 10px
  font-size: 12px
  display: block

  .tags-label
    height: 24px
    line-height: 24px
    float: left
    margin-right: 10px
    display: block

  .tag
    float: left
    margin-right: 5px

  .tag-middle
    float: left
    display: block
    height: 24px
    line-height: 24px
    color: #0d3353
    background: #f0f7ff
    text-decoration: none
    border-top: 1px solid #9c9d9d
    border-bottom: 1px solid #9c9d9d

    &:hover
      text-decoration: underline

  .tag-left
    float: left
    width: 5px
    height: 26px
    background: url('../images/tag.png') no-repeat

  .tag-right
    float: left
    width: 5px
    height: 26px
    background: url('../images/tag.png') no-repeat
    background-position: bottom

  .tag:hover
    color: #fff
    border-color: #15456e
    background: #15456e


.comments a.show-form
  font-size: 11px
  padding: 2px


.comment
  font-size: 13px
  padding: 0 10px

  p
    margin: 0 !important

  .author
    font-weight: bold
    text-decoration: none

    &:hover
      text-decoration: underline

  .meta
    margin: 0
    font-size: 13px


.comments-form
  textarea
    float: left
    margin: 0 5px

  .show-form
    font-size: 12px


.comment-text
  color: #333


h3.response-head
  margin-top: 10px
  font-size: 20px


.response
  margin: 15px 0

  .response-content
    padding: 0 15px

  .response-top
    background: transparent url("../images/response.png") no-repeat
    display: block
    height: 13px
    width: 713px

  .response-bottom
    background: transparent url("../images/response.png") no-repeat
    display: block
    height: 13px
    width: 713px
    background-position: 0 -13px


.response-neutral
  .response-top
    background-position: 0 -26px

  .response-bottom
    background-position: 0 -39px


.response-happy
  .response-top
    background-position: 0 -52px

  .response-bottom
    background-position: 0 -65px


.comment
  .comment-top, .comment-bottom
    width: 510px
    height: 10px
    display: block
    background: url("../images/comment.png") transparent no-repeat

  .comment-top
    margin-top: 10px

  .comment-content
    padding: 0 10px

  .comment-bottom
    margin-bottom: 10px


.response-happy
  background: #d0e7d0


.comment-happy
  .comment-top
    background-position: 0 -40px

  .comment-content
    background: #acdfac

  .comment-bottom
    background-position: 0 -50px

  .author
    color: #004700


.response-neutral
  background: #faf7d7


.comment-neutral
  .comment-top
    background-position: 0 -20px

  .comment-content
    background: #f1ecb6

  .comment-bottom
    background-position: 0 -30px

  .author
    color: #655c00


.response-sad
  background: #f2d5d5


.comment-sad
  .comment-top
    background-position: 0 0

  .comment-content
    background: #ebbbbb

  .comment-bottom
    background-position: 0 -10px

  .author
    color: #820000


.response p
  margin: 0 0 10px 0

  &.meta
    font-size: 12px
    margin-top: -7px !important


.response-form h4
  margin: 30px 0 0
  font-size: 18px



#index-ladders
  background: #f5fafa


.ladder
  width: 330px
  padding: 10px

  h3
    text-align: center

    span
      color: #00adef

  ul
    padding: 0
    margin: 0

  li
    margin: 10px 0
    width: 329px
    height: 95px
    display: block
    padding: 5px


.projects-index li
  background: url("../images/ladder-box.png") no-repeat


.users-index li
  background: url("../images/ladder-box-user.png") no-repeat


.ladder
  li a
    color: black
    text-decoration: none

    &:hover
      text-decoration: underline

  .logo
    float: left
    max-height: 70px
    max-width: 70px
    margin: 8px

  li
    p
      margin: 0
      float: left
      padding-left: 10px
      width: 210px

      &.text
        font-size: 15px
        margin-top: 6px

      &.meta
        font-size: 10px
        color: #666
        margin-top: 3px

    strong
      color: black


.projects-index
  float: left

  li
    list-style: none


.users-index
  float: right

  li
    list-style: none


.response-left
  width: 530px
  float: left


.response-right
  width: 150px
  float: right

  a.userlink
    padding: 2px
    color: black
    font-weight: bold
    text-decoration: none

    &:hover
      color: white
      background: black


.response-voting
  width: 150px


.response-voting-links
  float: left
  width: 100px


.response-points
  float: right
  margin: 0
  padding: 0
  height: 48px
  width: 50px
  text-align: center

  span
    font-size: 20px
    line-height: 48px


.response-voting a
  display: block
  height: 18px
  width: 70px
  overflow: hidden
  float: left
  color: #666
  font-weight: bold
  text-decoration: none
  padding-left: 20px
  margin: 3px 0

  &.upvote
    background: url('../images/upvote.png') no-repeat 0 0

    &:hover
      color: green
      background: url('../images/upvote.png') no-repeat 0 -18px

  &.upvote-change:hover, &.upvote-active
    color: green
    background: url('../images/upvote.png') no-repeat 0 -18px

  &.upvote-change
    color: #AAA
    background: url('../images/upvote.png') no-repeat 0 -36px

  &.downvote
    line-height: 16px
    background: url('../images/downvote.png') no-repeat 0 0

    &:hover
      color: red
      background: url('../images/downvote.png') no-repeat 0 -18px

  &.downvote-change:hover
    color: red
    background: url('../images/downvote.png') no-repeat 0 -18px

  &.downvote-active
    color: red
    line-height: 16px
    background: url('../images/downvote.png') no-repeat 0 -18px

  &.downvote-change
    color: #AAA
    line-height: 16px
    background: url('../images/downvote.png') no-repeat 0 -36px


.response-types a
  display: block
  float: left
  width: 64px
  height: 64px

  &.happy-response
    background: url(../images/smile/happy.png) no-repeat 0 -64px

  &.neutral-response
    background: url(../images/smile/neutral.png) no-repeat 0 -64px

  &.sad-response
    background: url(../images/smile/sad.png) no-repeat 0 -64px

  &.active
    background-position: 0 0


#left-links
  position: absolute
  width: 50px
  height: 500px
  left: -50px
  top: 80px

  a
    width: 50px
    height: 130px
    display: block

  #twitter
    background: url('../images/twitter.png') no-repeat

  #facebook
    background: url('../images/facebook.png') no-repeat
    border-top: none
    border-bottom: none

  #rss
    height: 50px
    background: url('../images/rss.png') no-repeat


table.messages
  font-family: arial, Helvetica, sans-serif
  font-size: 14px
  background: #fff
  width: 100%
  border-collapse: collapse
  text-align: left

  th
    font-size: 17px
    font-weight: normal
    color: #039
    padding: 10px 8px
    border-bottom: 2px solid #6678b1

  td
    border-bottom: 1px solid #ccc
    color: #669
    padding: 0 8px

  tbody tr:hover td
    color: #009
    background: #E8EDFF

    img
      color: #E8EDFF


  img
    position: relative
    top: 2px

  .ads-action
    width: 120px

  .category
    width: 140px


a.black
  color: black

#trade-result
  width: 400px
  margin: 10px 0 0 0

+clearfix("#welcome-box")

#welcome-box  

  #welcome-text
    float: left
    width: 300px

    h4
      margin-top: 20px
      font-weight: bold

    a#signup-button
      margin: 0 auto
      text-indent: -9999px
      height: 73px
      width: 200px
      background: url('../images/signup-button.png') no-repeat top center
      display: block

      &:hover
        background-position: bottom center

  #welcome-video
    float: right
    width: 400px


#tooltip
  position: absolute
  border: 1px solid #333
  background: #f7f5d1
  padding: 2px 5px
  color: #333
  font-size: 1em
  display: none

#search
  margin-top: 10px

#search-results
  margin-top: 15px

  h4
    padding: 15px 0 0 20px