@import lib/generic.sass
@import lib/fonts.sass

#ie6-box
  display: none


#wrapper
  width: 760px
  margin: 20px auto 0 auto

  #header
    margin-bottom: 10px
    
    h1
      font: 43px #{!trebuchet_ms}
      margin: 0
      
      a
        color: #666
        text-decoration: none
        &:hover
          color: black
    p
      margin: 0
      padding: 0 0 0 30px
      font: 18px #{!verdana}
      color: #666
      a
        color: inherit
        text-decoration: none
        &:hover
          color: #000

  ul#menu
    padding: 7px 12px
    margin: 0 0 10px 0
    list-style: none
    background: url('../images/forum-menu.png') no-repeat

    li
      display: inline
      a
        font-size: 14px
        text-decoration: none
        color: white
        font-weight: bold
        &:hover
          text-decoration: underline

      .separator
        color: #51606a
        
    .userbox
      float: right
      margin: 0

      a img
        border: none
        color: white

  table
    tr
      border-radius: 5px
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      &.item:hover
        background: #cbd9e2

      th.date
        text-align: right
      td
        a
          color: #51606a
          text-decoration: none
          &:hover
            text-decoration: underline
        &.date
          font-size: 12px
          text-align: right

.navigation
  li
    display: inline
    a
      color: #666
      text-decoration: none
      &:hover
        color: #000

.top
  margin-top: 15px
  
  p, ul
    margin: 0 10px 10px
    
  p.new-post-link
    float: right
    a
      color: #666
      text-decoration: none
      &:hover
        color: black

form.post-search-form
  margin-bottom: 15px

form.search-form
  margin: 0 auto 20px auto
  width: 320px

  .input
    width: inherit

  .submits input
    float: left
    width: 156px

#posts
  margin: 0

  .post
    border-top: 1px solid #AAA
    padding: 10px

    &:hover
      background: #e0edf6

    &:hover .user .username a
      color: black
    .user
      float: left
      width: 70px
      img
        width: 70px
        height: 70px
      .username
        position: relative
        top: -5px
        margin: 0
        text-align: center
        a
          color: #666         
          text-decoration: none
          &:hover
            color: #000
    .content
      width: 640px
      margin-top: 10px
      float: right
      .text
        min-height: 60px

      .meta
        padding-top: 10px

        .voting, .links
          margin: 0
          font-size: 12px
          a
            color: #666
            text-decoration: none
            &:hover
              color: #000

        .voting
          float: left
        .links
          float: right


#footer
  .copyright
    text-align: center
    font: 13px #{!verdana}    

    color: #666
    a
      color: inherit
      text-decoration: none
      &:hover
        color: #000
