<div id="chat_<%= user.id %>" class="chat clearfix">
  <div id="chatbox_<%= user.id %>" class="chat-box" style="display: none;">
    <h4 class="chat-head">
      <%= missing_avatar(user, :small, :style => 'margin: 2px 0 2px 3px; float: left;',
                         :width => 36, :height => 36) %>
      <%= user.name %>
      <table class="chat-controls">
        <tr>
          <td>
            <%= link_to_function 'x', "chat.remove(#{user.id})",
                                 :class => "chat-close" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to_function '-', "chat.hide(#{user.id})",
                                 :class => "chat-hide" %>
          </td>
        </tr>
      </table>
    </h4>
    <div class="chat-content">
      <div id="messages_<%= user.id %>" class="chat-messages">

      </div>
      <div class="chat-input">
        <textarea rows="3" cols="20" class="chattext" id="chattext_<%= user.id %>"></textarea>
      </div>
    </div>
  </div>

  <%= link_to_function user.name[0..1], "chat.activateFriend(#{user.id})",
                       :class => 'chat-link', :id => "chatlink_#{user.id}" %>
</div>
