<li>
  <% link_to online, :id => "friend_#{online.id}", :class => 'friendlink' do %>
      <div class="left">
        <%= missing_avatar(online, :small, :width => 35, :height => 35) %>        
      </div>
      <div class="friend-name">
        <%= h online.name %>
      </div>
  <% end %>
</li>