<% if user == current_user || (current_user && current_user.admin?) %>
    <h3 class="sidebar-header">Manage your account</h3>
    <div class="sidebar-box clearfix">

      <ul class="list-none">
        <li>
          <%= link_to 'Change password', edit_password_path %>
        </li>
        <li>
          <%= link_to 'Edit profile', edit_user_path %>
        </li>
        <li>
          <%= change_avatar_link(user) %>

        </li>
        <li>
          <%= link_to 'Private messages', private_messages_path %>
        </li>
        <li>
          <%= link_to 'Blocked users', blocked_users_path %>
        </li>
      </ul>
    </div>

    <h3 class="sidebar-header">Awaiting friendships</h3>
    <div class="sidebar-box clearfix">
      <ul class="list-none">
        <% user.awaiting_friendships.each do |friendship| %>
            <li id="friendship_<%= friendship.id %>">
              <%= link_to h(friendship.username), friendship.user %>
              <% if my_profile?(user) %>
                  (<%= link_to 'Confirm', confirm_friendship_path(friendship.id), :method => :post %> |
                  <%= link_to 'Block', block_friendship_path(friendship.id), :method => :post,
                              :confirm => "Are you sure you want to block user '#{friendship.user.name}'?" %>)
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

<h3 class="sidebar-header">User activities</h3>
<div class="sidebar-box clearfix">
  <ul class="list-none">
    <li>
      <%= link_to 'All Responses', responses_user_path(user) %>
    </li>
    <li>
      <%= link_to 'All Comments', comments_user_path(user) %>
    </li>
    <% if logged_in? %>
        <% unless current_user.friended?(user) or my_profile?(user) %>
            <li>
              <%= link_to 'Add user to friends', friendships_path(:friend_id => user), :method => :post %>
            </li>
        <% end %>
    <% end %>
    <% unless my_profile?(user) %>
        <li>
          <%= link_to 'Send message', new_private_message_path(:id => user) %>
        </li>
    <% end %>
  </ul>
</div>

<h3 class="sidebar-header"><%= h user.name %>'s friends</h3>
<div class="sidebar-box clearfix">
  <ul class="list-none">
    <% user.friendships.confirmed.each do |friendship| %>
        <li>
          <%= link_to h(friendship.friend.name), friendship.friend %>
          <% if user == current_user %>
              (<%= link_to 'remove', friendship, :method => :delete %>)
          <% end %>
        </li>
    <% end %>
  </ul>
</div>