<div class="user clearfix" id="user<%= user.id %>">
  <div class="content clearfix">
    <%= missing_avatar user, :avatar %>

    <div class="user-text">
      <h3><%= link_to h(user.name), user_path(user) %></h3>

      <p><%= h user.about %></p>
    </div>
  </div>

  <p class="meta">
    <span class="points"><%= pluralize(user.credits, 'point') %></span>
  </p>
</div>

