<h2>Blocked users</h2>

<table class="messages">
  <thead>
  <tr>
    <td>User</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @friendships.each do |friendship| %>
      <tr>
        <td><%= link_to h(friendship.user.name), friendship.user %></td>
        <td><%= link_to 'Unblock', unblock_friendship_path(friendship), :method => :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back to profile', current_user %>