<h3>All comments for user <%= @user.name %></h3>

<ul>
  <% for comment in @comments do %>
      <li>
        <%= h comment.text %>
      </li>
  <% end %>
</ul>

<%= will_paginate @comments %>

<%= back_to_profile @user %>