<% form_for @user do |f| %>
    <%= f.error_messages %>
    <div class="focusable-field">
      <%= f.label :fullname, 'Full name' %>
      <br/>
      <%= f.text_field :fullname %>
    </div>
    <div class="focusable-field">
      <%= f.label :email, 'E-mail' %>
      <br/>
      <%= f.text_field :email %>
    </div>
    <div class="focusable-field">
      <%= f.label :username, 'Username' %>
      <br/>
      <%= f.text_field :username %>
    </div>
    <div class="focusable-field">
      <%= f.label :ladder_text, 'Ladder text' %>
      <small>(Shows in Top10 users ladder)</small>
      <br/>
      <%= f.text_field :ladder_text %>
    </div>
    <div class="focusable-field textarea-field">
      <%= f.label :about, 'Bio' %>
      <br/>
      <%= f.text_area :about, :rows => 10, :cols => 50 %>
    </div>
    <div class="input-field">
      <%= submit_with_loading 'Save profile' %>
      <small style="padding: 5px 0 0 10px;">or <%= link_to "back to profile", @user %></small>
    </div>
<% end %>


<% content_for :right do %>
    <%= render :partial => 'users/right', :locals => { :user => @user } %>
<% end %>