<h2>Listing all users on smallZOOM</h2>

<p>
  You can find users by searching their name.
</p>

<div class="alphabet clearfix">
  <% ('a'..'z').each do |letter| %>
      <%= link_to letter.upcase, users_path(params.merge({ :letter => letter, :page => nil })),
                  :class => (params[:letter] == letter) ? 'active' : '' %>
  <% end %>
</div>

<% form_tag users_path(params), :method => :get, :id => 'searchform' do %>
    <%= text_field_tag :search, params[:search], :id => 'searchbox' %>
    <%= submit_tag 'Search', :name => nil, :id => 'searchbox-sumbit' %>
    <%= hidden_field_tag :order, params[:order] || 'date' %>
<% end %>

<p align="center">Order by:
  <%= link_to_unless (params[:order] == 'date'), 'New first', params.merge({:order => 'date'}) %> |
  <%= link_to_unless (params[:order] == 'votes'), 'Best first', params.merge({:order => 'votes'}) %>
</p>

<h4>
  <%= link_to 'Show all users', users_path, :class => 'black' if params[:search] or params[:letter] %>
</h4>

<div id="users">
  <%= render :partial => 'user', :collection => @users %>

  <%= will_paginate @projects %>
</div>

<% content_for :right do %>
    <%= render :partial => 'shared/tag_cloud' %>
<% end %>
