<% title "Sign up" %>
<h2>Sign up for account - step 1/2</h2>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<% form_for @user do |f| %>
    <%= f.error_messages %>
    <div class="focusable-field">
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </div>
    <div class="focusable-field">
      <%= f.label :email, "Email Address" %><br/>
      <%= f.text_field :email %>
    </div>
    <div class="focusable-field">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div>
    <div class="focusable-field">
      <%= f.label :password_confirmation, "Confirm Password" %><br/>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="input-field">
      <%= submit_with_loading "Sign up" %>
    </div>
<% end %>
