<h3>Responses for user <%= @user.name %></h3>

<ul>
  <% @responses.each do |response| %>
      <li><%= link_to response.project.title, project_path(response.project) + '#Response' + response.id.to_s %></li>
  <% end %>
</ul>

<%= will_paginate @responses %>

<%= back_to_profile @user %>
