<div class="profile-top"></div>
<div class="user-profile clearfix">
  <table class="user-profile-table">
    <tr>
      <td>Full name</td>
      <td><%= h @user.fullname %></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><%= h @user.username %></td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td><%= h @user.email %></td>
    </tr>
    <tr>
      <td>Reputation:</td>
      <td><%= @user.reputation %></td>
    </tr>
    <tr>
      <td>Credits:</td>
      <td><%= @user.credits %></td>
    </tr>
    <tr>
      <td>Info</td>
      <td><%= h @user.ladder_text %></td>
    </tr>
  </table>
  <%= missing_avatar @user, :avatar, :style => 'float: left; margin: 20px 10px 0 0;' %>
</div>
<div class="profile-bottom"></div>

<% if @user.about %>
    <h3>Bio</h3>

    <p><%= nl2br(h(@user.about)) %></p>
<% end %>

<% unless @user.projects.empty? %>
    <h3>Projects</h3>
    <ul>
      <% for project in @user.projects %>
          <li>
            <%= link_to project.title, project_path(project) %> (<%= project.points %>)
            <% if project.author == current_user || admin? %>
                |
                <%= link_to "Edit", edit_project_path(project) %> |
                <%= link_to "Delete", project_path(project), :method => :delete,
                            :confirm => 'Are you sure you want to delete this project?' %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<% unless @user.coprojects.empty? %>
    <h3>Working on</h3>
    <ul>
      <% for project in @user.coprojects %>
          <li>
            <%= link_to project.title, project_path(project) %> (<%= project.points || 0 %>)
            <% if project.author == current_user || admin? %>
                |
                <%= link_to 'Edit', edit_project_path(project) %> |
                <%= link_to 'Delete', project_path(project), :method => :delete,
                            :confirm => 'Are you sure you want to delete this project?' %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<% content_for :right do %>
    <%= render :partial => 'users/right', :locals => { :user => @user } %>
<% end %>
