<div class="error" id="ie6-box">
  <p>
    You are using old version of Internet Explorer. smallZOOM will work much better with more
    up to date browsers.
  </p>
  <ul>
    <li>
      <a target="_blank" href="http://www.microsoft.com/windows/internet-explorer/default.aspx">
        Upgrade to Internet Explorer 8
      </a>
    </li>
    <li>
      <a target="_blank" href="http://www.firefox.com/">Firefox</a>
    <li>
      <a target="_blank" href="http://www.apple.com/safari/">Safari</a>
    </li>
    <li>
      <a target="_blank" href="http://www.google.com/chrome">Google Chrome</a>
    </li>   
  </ul>
</div>
