<h3 class="sidebar-header">Favorite Tags</h3>

<p class="tag-cloud">
  <% Tag.tag_cloud.each_with_index do |tag, i| %>
      <span>
        <%= link_to h(tag.name), projects_path(:tag => tag.name), :class => "tag tag-#{"v" * (i / 2 + 1)}" %>
      </span>
  <% end %>
</p>