<div id="user-box">
  <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user) %>
      <% if current_user.awaiting_friendships.length > 0 %>
        (<%= link_to current_user.awaiting_friendships.length, current_user %>)
      <% end %>
      <span class="separator">|</span>
      <%= link_to "Logout", logout_path, :method => :delete %>
  <% else %>
      <%= link_to "Login", login_path %>
      <span class="separator">|</span>
      <%= link_to "Sign up", signup_path %>
  <% end %>
  <span class="separator">|</span>
  <%= link_to "About", about_path %>
  <span class="separator">|</span>
  <%= link_to "FAQ", faq_path %>

  <br/>

  <p class="nomargin" align="center">
    <%= link_to "Forum", forums_path %>
    <span class="separator">|</span>
    <% if logged_in? %>
        <%= link_to "Messages", private_messages_path %>
        <% unless current_user.unread_messages.empty? %>
            (<%= link_to current_user.unread_messages.count, private_messages_path %>)  
        <% end %>
        <span class="separator">|</span>
        <%= link_to "Shop", { :controller => 'trades', :action => 'new' } %>
    <% else %>
        <%= link_to "Messages", login_path %>
        <span class="separator">|</span>
        <%= link_to "Shop", login_path %>
    <% end %>
  </p>

  <%= link_to "Add new project", new_project_path, :id => 'new-project' %>
</div>