<div id="search-input">
  <% form_tag search_path, :method => :get do %>
      <%= text_field_tag :search, 'Search', :class => 'text' %>
  <% end %>
</div>

<h3 class="sidebar-header">Newest Projects</h3>

<div class="sidebar-box clearfix">
  <ul id="list-new-projects" class="list-new-projects">
    <%= render :partial => 'projects/recent', :collection => Project.recent %>
  </ul>

  <%#= link_to 'older', '#', :id => 'list-older-projects' %>
  <%= link_to 'right', '#', :id => 'list-newer-projects', :class => 'arrow-link tooltip',
              :title => 'Newer projects' %>
  <span id="list-projects-page">1</span>
  <%= link_to 'left', '#', :id => 'list-older-projects', :class => 'arrow-link tooltip',
              :title => 'Older projects' %>
  <%= image_tag('loading.gif', :class => 'loading') %>

  <%= link_to 'all projects', projects_path(:order => 'date'), :class => 'all-projects-link' %>
</div>

<%= render :partial => 'shared/tag_cloud' %>

