<% title "About" %>

<h2>About smallZOOM</h2>

<p>This is a beta version of smallZOOM created by <%= link_to "Intecro", "http://intecro.com/" %>.</p>

<p>For more information about smallZOOM, see <%= link_to "FAQ", faq_path %></p>

<h2>Contact us</h2>

<%= render :partial => 'contacts/form' %>