<% title "FAQ" %>

<h2>FAQ - Frequently Asked Questions</h2>

<h3>What is smallZOOM good for?</h3>
<p>
  smallZOOM is a great system where you can present your work, projects, yourself or your company.
</p>

<h3>What projects can i present here?</h3>
<p>
  Anything you want. Web designs, whole projects like e-shops, blogs or official websites.
</p>

<h3>Can I sell my projects here?</h3>
<p>
  Yes. When creating a new project, you can check "for sale". That will show others that your project is for sale, so
  they can contact you.
</p>

<h3>What is the point of using smallZOOM?</h3>
<p>
  Advertise your company, yourself or your projects. Your link can be on the main page and thousands of people will see
  it every day. Customers can search for projects they like and order more of your work from you.
</p>
<p>
  The most important thing is that you can meet another computer programmers and designers. You can chat, comment and
  rate other people's work. You can help others, or show them that you are the best. Main goal is to create a community
  of computer programmers and designer.
</p>

<h3>What are project points good for?</h3>
<p>
  Points represent how good your project is. It shows that your project is more popular than someone else's, and if you
  are great, you can be on the main page in Top10 projects.
</p>

<h3>What is reputation?</h3>
<p>
  Reputation represents how popular you are in smallZOOM community. You can gain reputation in many different ways.
  The simplest one is to start being active in the community. You gain credits and reputation for commenting, posting responses to other
  people's projects or for posting on <%= link_to "forum", forums_path %>. Another way of increasing your reputations is
  voting. When other people upvote your response, you get credits and reputation.
</p>

<h3>What is the difference between reputation and credits?</h3>
<p>
  Reputation is summary of all user activity points you have gained since you joined smallZOOM.
</p>
<p>
  As you gain reputation, you also gain same amount of credits, which can be converted to project points in
  <%= link_to "our shop", { :controller => 'trades', :action => 'new'} %>. That way you can help your projects to move
  up in the ladder and eventually appear in the Top10 Projects on the main page.
</p>

<h3>What happens when I convert credits to project points?</h3>
<p>
  When you convert credits to your project, you sacrifice your position on users ladder for enhancing position of your
  project. That means you have to choose if you want to be on users ladder, or if you want to propagate your project.
</p>

<h3>What is innovating about smallZOOM?</h3>
<p>
  It is quick and simple. It creates a great community of computer programmers and designers. You can use chat to
  quickly communicate with other developers. It is always on the right place when you need it.
</p>
