<% unless logged_in? %>
    <div id="welcome-box">
      <div id="welcome-text">
        <h4>
          Get instant feedback on your work
        </h4>

        <p>
          Join smallZOOM now and promote your projects and designs. In just few steps, you will be able
          to add your projects and start getting feedback from smallZOOM community.
        </p>
        <%= link_to "Sign up", signup_path, :id => "signup-button" %>
      </div>
      <div id="welcome-video">
        <object width="400" height="300">
          <param name="allowfullscreen" value="true"/>
          <param name="allowscriptaccess" value="always"/>
          <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=9480462&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=59a5d1&amp;fullscreen=1"/>
          <embed src="http://vimeo.com/moogaloop.swf?clip_id=9480462&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=59a5d1&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed>
        </object>
      </div>
    </div>

<% end %>
<div id="index-ladders" class="clearfix">

  <div class="projects-index ladder">
    <h3>Top<span>10</span> projects
      <small>(<%= link_to "all projects", projects_path %>)</small>
    </h3>
    <ul>
      <% @projects.each do |project| %>
          <li class="round">
            <%= missing_image project, :logo, :alt => 'logo', :class => 'logo' %>

            <p class="text">
              <%= link_to trim_title(h(project.title)), project_path(project), :class => 'title' %>
            </p>

            <p class="meta">
              <%= pluralize(project.points, 'point') %> |
              author <strong><%= link_to h(project.author.name), project.author %></strong>
            </p>

          </li>
      <% end %>
    </ul>

  </div>

  <div class="users-index ladder">
    <h3>Top<span>10</span> users
      <small>(<%= link_to "all users", users_path %>)</small>
    </h3>
    <ul>
      <% @users.each do |user| %>
          <li class="round">

            <%= missing_avatar(user, :avatar, :class => 'logo') %>

            <p class="text">
              <%= link_to user.name, user_path(user), :class => 'title' %>
            </p>

            <p class="meta">
              <%= h user.ladder_text %><br/>
              <%= pluralize(user.credits, 'credit') %>
            </p>

          </li>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :right do %>
    <%= render :partial => 'right' %>
<% end %>
