#chat
  position: absolute
  width: 40px
  height: 500px
  left: 1040px
  top: 70px


.fixed
  position: fixed


#chat
  #friend-list
    left: -170px
    position: absolute
    top: 0
    width: 170px
    z-index: 100

    h4
      background: url("../images/chat-friends-header.png") no-repeat
      border: none
      height: 40px
      margin: 0
      color: white
      line-height: 37px
      font-size: 16px
      text-align: center
      font-weight: bold

  #friend-list-list
    min-height: 100px
    border: 2px solid silver
    border-top: none
    background: white
    margin: 0

    li
      list-style: none

      a
        padding: 0
        color: black
        display: block
        text-decoration: none

        &:hover
          font-weight: bold
          background: #fcfccf

  #friend-list .friend-name
    float: left
    padding: 5px
    line-height: 26px

  #link-friends
    display: block
    margin: 0 0 25px
    height: 56px
    width: 52px
    background: url("../images/chat-icon.png") no-repeat


.chat
  position: relative
  display: block
  width: 56px
  height: 52px
  margin: 20px 0

  .chat-link
    width: 52px
    height: 56px
    line-height: 50px
    text-align: center
    font-size: 20px
    background: url("../images/chat-online-icon.png") no-repeat
    color: white
    text-decoration: none
    display: block

  &.typing .chat-link
    background: url("../images/chat-typing-icon.png") no-repeat

  &.offline .chat-link
    background: url("../images/chat-offline-icon.png") no-repeat


.chat-controls
  float: right
  width: 20px
  display: block
  margin: 0

  td
    padding: 0 !important
    position: relative
    top: -3px

  a
    display: block
    width: 16px
    height: 16px
    text-indent: 5000px

  .chat-close
    margin: 2px 3px 0 0
    background: url("../images/x.png") no-repeat

    &:hover
      background: url("../images/x-hover.png") no-repeat


.friends-hide
  float: right
  width: 20px
  margin: 10px 0 0 0
  text-indent: 5000px
  background: url("../images/arrow.png") no-repeat

  &:hover
    background: url("../images/arrow-hover.png") no-repeat


.chat-controls .chat-hide
  margin: 2px 0 0 0
  background: url("../images/arrow.png") no-repeat

  &:hover
    background: url("../images/arrow-hover.png") no-repeat


.chat
  .chat-box
    position: absolute
    left: -179px
    background: white
    width: 179px
    height: 250px

  h4.chat-head
    margin: 0
    background: url("../images/chat-online-header.png") no-repeat
    height: 40px
    display: block
    color: white
    text-align: center
    line-height: 38px
    font-weight: bold


.typing h4.chat-head
  background: url("../images/chat-typing-header.png") no-repeat !important


.offline h4.chat-head
  background: url("../images/chat-offline-header.png") no-repeat !important


.chat
  .chat-content
    border: 2px solid silver

  .chat-messages
    display: block
    width: 157px
    margin: 5px
    height: 140px
    font-size: 10px
    border: 1px solid silver
    overflow: auto
    padding: 3px

  .chat-input
    background: white

    textarea
      width: 153px
      height: 30px
      margin: 5px
      font-size: 11px

+clearfix(.friendlink)