=clearfix(!class_name=".clearfix")
  #{!class_name}
    :display inline-block
    &:after
      :content "."
      :display block
      :clear both
      :visibility hidden
      :line-height 0
      :height 0
  html[xmlns]
    #{!class_name}
      :display block
  * html
    #{!class_name}
      :height 1%


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline


body
  line-height: 1.5


table
  border-collapse: separate
  border-spacing: 0


caption, th, td
  text-align: left
  font-weight: normal


table, td, th
  vertical-align: middle


blockquote
  &:before, &:after
    content: ""


q
  &:before, &:after
    content: ""


blockquote, q
  quotes: "" ""


a img
  border: none


body
  font-size: 100%
  color: #222
  background: #fff
  font-family: "Verdana", Arial, Helvetica, sans-serif


h1, h2, h3, h4, h5, h6
  font-weight: normal
  color: #111


h1
  font-size: 3em
  line-height: 1
  margin-bottom: 0.5em


h2
  font-size: 2em
  margin-bottom: 0.75em


h3
  font-size: 1.5em
  line-height: 1
  margin-bottom: 1em


h4
  font-size: 1.2em
  line-height: 1.25
  margin-bottom: 1.25em


h5
  font-size: 1em
  font-weight: bold
  margin-bottom: 1.5em


h6
  font-size: 1em
  font-weight: bold


h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
  margin: 0


p
  margin: 0 0 1.5em

  img
    &.left
      float: left
      margin: 1.5em 1.5em 1.5em 0
      padding: 0

    &.right
      float: right
      margin: 1.5em 0 1.5em 1.5em


a
  color: #009
  text-decoration: underline

  &:focus, &:hover
    color: #000


blockquote
  margin: 1.5em
  color: #666
  font-style: italic


strong
  font-weight: bold


em
  font-style: italic


dfn
  font-style: italic
  font-weight: bold


sup, sub
  line-height: 0


abbr, acronym
  border-bottom: 1px dotted #666


address
  margin: 0 0 1.5em
  font-style: italic


del
  color: #666


pre
  margin: 1.5em 0
  white-space: pre
  font: 1em 'andale mono', 'lucida console', monospace
  line-height: 1.5


code, tt
  font: 1em 'andale mono', 'lucida console', monospace
  line-height: 1.5


li
  ul, ol
    margin: 0 1.5em


ul, ol
  margin: 0 1.5em 1.5em 1.5em


ul
  list-style-type: disc


ol
  list-style-type: decimal


dl
  margin: 0 0 1.5em 0

  dt
    font-weight: bold


dd
  margin-left: 1.5em


table
  margin-bottom: 1.4em
  width: 100%


th
  font-weight: bold
  padding: 4px 10px 4px 5px


td, caption
  padding: 4px 10px 4px 5px


tr.even td
  background: #e5ecf9


tfoot
  font-style: italic


caption
  background: #eee


label
  font-weight: bold
  font-size: 15px


fieldset
  padding: 1.4em
  margin: 0 0 1.5em 0
  border: 1px solid #ccc


legend
  font-weight: bold
  font-size: 1.2em


input
  &.text, &.title, &[type=text], &[type=password]
    background-color: #fff
    border: 1px solid #bbb
    padding: 5px
    font-size: 15px
    margin: 0.5em 0

  &.text:focus, &.title:focus, &[type=text]:focus, &[type=password]:focus
    border-color: #666

  &.text, &[type=text], &[type=password]
    width: 300px
    padding: 5px

  &.title
    width: 300px
    padding: 5px
    font-size: 19px

  &.submit
    padding: 5px 10px
    font-size: 16px
    font-weight: bold


textarea, select
  background-color: #fff
  border: 1px solid #bbb
  padding: 5px

textarea:focus, select:focus
  border-color: #666


textarea, select
  margin: 0.5em 0

textarea
  padding: 5px


input
  &[type=checkbox], &[type=radio], &.checkbox, &.radio
    position: relative
    top: .25em


form.inline
  line-height: 3

  p
    margin-bottom: 0


.error, .notice, .success
  padding: .8em
  margin-bottom: 1em
  border: 2px solid #ddd


.error
  background: #FBE3E4
  color: #8a1f11
  border-color: #FBC2C4

  a
    color: #8a1f11


.notice
  background: #FFF6BF
  color: #514721
  border-color: #FFD324

  a
    color: #514721

.success
  background: #E6EFC2
  color: #264409
  border-color: #C6D880

  a
    color: #264409


.clearfix:after, .container:after
  content: "\0020"
  display: block
  height: 0
  clear: both
  visibility: hidden
  overflow: hidden


.clearfix, .container
  display: block


.clear
  clear: both


input.with-loading
  float: left

img.loading
  float: left
  display: block
  margin: 8px 0 0 5px
  display: none


div.focusable-field, div.input-field
  margin-bottom: 5px
  padding: 8px 5px 7px 10px
  width: 320px

  &.focused
    background: #FFF7C0

div.textarea-field
  width: 435px !important