<% title "Messages" %>

<h3 class="nomargin">Sent messages</h3>
<table class="messages">
  <thead>
  <tr>
    <th width="150">Recipient</th>
    <th width="200">Subject</th>
    <th width="200">Text</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% for message in @sent_messages %>
      <tr>
        <td><%= link_to h(message.recipient_name), message.recipient %></td>
        <td><%= link_to h(message.subject), message %></td>
        <td><%= link_to h(message.text[0..50]), message %></td>
        <td>
          <%= link_to "Show", private_message_path(message) %>
          <%= link_to "Delete", message, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3 class="nomargin">Received messages</h3>
<table class="messages">
  <thead>
  <tr>
    <th width="150">Sender</th>
    <th width="200">Subject</th>
    <th width="200">Text</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% for message in @received_messages %>
      <tr <%= "style='background: #E8EDFF;'" if message.unread %>>
        <td><%= link_to h(message.sender_name), message %></td>
        <td><%= link_to h(message.subject), message %></td>
        <td><%= link_to h(message.text), message %></td>
        <td>
          <%= link_to "Show", private_message_path(message) %>
          <%= link_to "Delete", message, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

