<% title "New Message" %>
<h3>Message for <%= link_to h(@message.recipient_name), @message.recipient %></h3>

<% form_for @message do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :recipient_id %>
    <div class="focusable-field">
      <%= f.label :subject %>
      <br/>
      <%= f.text_field :subject %>
    </div>
    <div class="focusable-field textarea-field">
      <%= f.label :text %>
      <br/>
      <%= focusable_textarea f, :text %>
    </div>
    <div class="input-field">
      <%= submit_with_loading "Send message" %>
      <small>
        <%= link_to "back to #{h(@message.recipient_name)}'s profile", @message.recipient %>
      </small>
    </div>
<% end %>

