<% title "Message" %>

<p>
  <strong>Sender:</strong>
  <%= link_to h(@message.sender_name), @message.sender %>
</p>
<p>
  <strong>Recipient:</strong>
  <%= link_to h(@message.recipient_name), @message.recipient %>
</p>
<p>
  <strong>Subject:</strong>
  <%= h @message.subject %>
</p>
<p>
  <strong>Text:</strong>
  <%= nl2br(h(@message.text)) %>
</p>

<p>
  <%= link_to 'Back to messages', private_messages_path %> |
  <%= link_to 'Delete message', private_message_path(@message), :confirm => 'Are you sure?', :method => :delete %>
</p>
