<% form_tag url_for(:controller => :contacts, :action => :create) do %>
    <div class="focusable-field">
      <%= label_tag :email, 'E-mail' %><br/>
      <%= text_field_tag :email %>
    </div>
    <div class="focusable-field textarea-field">
      <%= label_tag :message %><br/>
      <%= focusable_textarea_tag :message %>
    </div>
    <div class="input-field">
        <%= submit_with_loading "Send" %>
    </div>
<% end %>