<% form_for project, :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>
    <div class="focusable-field">
      <%= f.label :title %> <small>(Name of your project, <span id="project-title-chars">80</span> characters remaining)</small>
      <br/>
      <%= f.text_field :title, :class => 'title', :id => 'project-title-input' %>
    </div>
    <div class="focusable-field">
      <span class="field-title"></span>
      <%= label_tag :tag_names, 'Tags' %>
      <small>(Choose few tags expressing your project, separated by comma)</small>
      <br/>
      <%= text_field_with_auto_complete :project, :tag_names, { :size => 30, :class => 'text' },
                                        { :url => tags_path(:format => :js), :method => :get,
                                          :with => "'search=' + element.value", :tokens => ',' } %>
    </div>
    <div class="focusable-field">
      <%= label_tag :website %>
      <small>(Project website)</small>
      <br/>
      <%= f.text_field :website, :class => 'text' %>
    </div>
    <div class="focusable-field textarea-field">
      <%= f.label :text %>
      <small>(Project description, <span id="project-text-chars">800</span> characters remaining)</small>
      <br/>
      <%= focusable_textarea f, :text, :id => 'project-text-input' %>
    </div>
    <div class="input-field">
      <%= f.check_box :for_sale %>
      <%= f.label :for_sale, "For sale" %>
      <small>(Check if project is for sale)</small>
    </div>
    <p>
      <%= submit_with_loading submit_text %>
    </p>
<% end %>
