<p class="meta">
  <small>
    <%= link_to_function "Show all comments (#{project.comments.count})",
                         'this.up("p.meta").next("div").toggle();this.hide();this.next().show()' %>
    <%= link_to_function "Hide all comments",
                         'this.up("p.meta").next("div").toggle();this.hide();this.previous().show()',
                         :style => 'display: none;' %>
  </small>
</p>


<div style="display: none;">
  <div id="Project<%= project.id.to_s %>" class="comments">
    <%= render :partial => project.comments %>
  </div>

  <%= render :partial => 'comments/form', :locals => { :commentable => project } %>
</div>