<div class="project clearfix" id="project<%= project.id %>">
  <div class="content clearfix">
    <%= missing_image project, :logo %>

    <div class="project-text">
      <h3><%= link_to truncate(h(project.title), :length => 20), project_path(project) %></h3>

      <p><%= truncate(h(project.text), :length => 150) %></p>
    </div>
  </div>

  <p class="meta">
    author: <strong><%= link_to project.author.username, user_path(project.author) %></strong>
    <span class="date"><%= short_date project.created_at %></span>
  </p>
</div>