<h3 class="sidebar-header">Project information</h3>
<div class="sidebar-box clearfix">


  <% if current_user == project.author %>
      <h4 class="right-h4">People working on the project</h4>

      <p>
        Here you can add people who are also working on the project. To add new user, simply start typing
        his username.
      </p>
      <ul id="workings">
        <% unless project.workings.empty? %>
            <%= render :partial => 'workings/admin_list_item', :collection => project.workings %>
        <% end %>
      </ul>

      <% form_remote_tag :url => workings_path do %>
          <%= label_tag :username, 'Add new user' %>
          <%= text_field_with_auto_complete :user, :username, { :style => 'font-size:13px;width:190px;' }, {
                  :url => workings_path(:format => :js),
                  :method => :get, :with => "'search=' + element.value"} %>

          <%= submit_tag 'Add' %>
          <%= hidden_field_tag :project_id, project.id %>
      <% end %>

      <div class="separator"></div>
      <%= link_to 'Edit project', edit_project_path(project) %>
  <% else %>
      <h4 class="right-h4">Author details</h4>

      <%= missing_avatar(project.author, :small, :style => 'float: left;', :width => 50, :height => 50) %>
      <p style="margin: 0 0 0 60px;">
        <strong><%= link_to h(project.author.name), project.author %></strong><br/>
        <%= project.author.credits %> reputation
      </p>
      <br class="clear"/>

      <h4 class="right-h4">Other author's projects</h4>
      <ul>
        <% project.author.projects.find(:all, :limit => 5, :conditions => ['id <> ?', project.id]).each do |p| %>
            <li><%= link_to h(p.title), p %></li>
        <% end %>
      </ul>

      <p class="date">
        Created at <strong><%= project.created_at.strftime("%d.%m.%y") %></strong>
      </p>

      <h4 class="right-h4">People working on the project</h4>
      <ul>
        <%= render :partial => 'workings/list_item', :collection => project.workings %>
      </ul>

      <% if current_user && current_user.admin? %>
          <h4 class="right-h4">Admin</h4>
          <ul>
            <li>
              <%= link_to 'Edit', edit_project_path(project) %>
            </li>
          </ul>
      <% end %>
  <% end %>
</div>
