<div class="tags clearfix">
  <% unless project.tags.empty? %>
      <span class="tags-label">Tags:</span>
      <% for tag in project.tags do %>
          <div class="tag">
            <span class="tag-left"></span>
            <%= link_to tag.name, projects_path(:tag => tag.name), :class => 'tag-middle' %>
            <span class="tag-right"></span>
          </div>
      <% end %>
  <% end %>
</div>