<div class="voting" id="voting-<%= votable.class.name.to_s + votable.id.to_s %>">
  <%-
  upvote = upvoted_on(votable)
  downvote = downvote = downvoted_on(votable)
  -%>

  <%- if upvote -%>
    <%= link_to_remote '+', :url => vote_path(upvote),
      :method => :delete, :html => { :class => 'plus-active' } %>
  <%- elsif downvote -%>
    <%= link_to_remote '-', :url => change_vote_path(downvote),
      :method => :post, :html => { :class => 'plus' } %>
  <%- else -%>
    <%= link_to_remote '+', :url => votes_path(:vote =>
        {:votable_id => votable.id, :votable_type => votable.class.name, :value => 1}),
      :method => :post, :html => { :class => 'plus' } %>
  <% end %>

  <span class="points"><%= votable.points %></span>
  <%- if downvote -%>
    <%= link_to_remote '-', :url => vote_path(downvote),
      :method => :delete, :html => { :class => 'minus-active' } %>
  <%- elsif upvote -%>
    <%= link_to_remote '-', :url => change_vote_path(upvote),
      :method => :post, :html => { :class => 'minus' } %>
  <%- else -%>
    <%= link_to_remote '-', :url => votes_path(:vote =>
        {:votable_id => votable.id, :votable_type => votable.class.name, :value => -1}),
      :method => :post, :html => { :class => 'minus' } %>
  <% end %>
</div>