<%= render :partial => 'form', :locals =>
        { :project => @project, :submit_text => 'Save project' } %>

<p>
  <%= link_to "Back to project", project_path(@project) %>
</p>

<h3>Project images</h3>
<p>
  <% unless @project.images.empty? %>
      <% for image in @project.images do %>
          <%= image_tag image.picture.url(:small) %>
          <% if @project.author == current_user || admin?%>
              <%= link_to 'Delete picture', image_path(image), :method => :delete %>
          <% end %>
          <br/>
      <% end %>
  <% end %>
</p>

<h3>Add new image</h3>
<% form_for :image, :url => images_path, :html => { :multipart => true } do |f| %>
    <p>
      <%= f.file_field :picture %>
      <%= f.submit 'Add image' %>

      <%= hidden_field_tag 'project_id', @project.id %>
    </p>
<% end %>

<h3>Logo</h3>
<%= missing_image(@project, :logo) %>

<% form_for @project, :url => logo_project_path(@project),
            :html => { :multipart => true, :method => :post } do |f| %>
    <%= f.file_field :logo %>
    <%= f.submit 'Upload' %>
<% end %>

<%= link_to "Back to project", project_path(@project) %>

<% content_for :right do %>
    <%= render :partial => 'projects/right', :locals => { :project => @project } %>
<% end %>