<h3>Upload project images - step 3/3</h3>
<p>
  <% unless @project.images.empty? %>
      <% for image in @project.images do %>
          <%= image_tag image.picture.url(:small) %>
          <% if @project.author == current_user || admin? %>
              <%= link_to 'Delete image', image_path(image, :step => 1), :method => :delete %>
          <% end %>
          <br/>
      <% end %>
  <% end %>
</p>

<% form_for :image, :url => images_path(:step => 1), :html => { :multipart => true } do |f| %>
    <p>
      <%= f.file_field :picture %>
    </p>
    <p>
      <%= submit_with_loading 'Add image' %>
    </p>
    <%= hidden_field_tag 'project_id', @project.id %>
<% end %>

<p>
  <%= link_to "I'm finished uploading images", finish_project_path(@project) %>
</p>