<% title "Projects" %>

<h2>Listing all projects on smallZOOM</h2>

<p>
  You can find projects by searching their name.
</p>

<div class="alphabet clearfix">
  <% ('a'..'z').each do |letter| %>
      <%= link_to letter.upcase, projects_path(params.merge({:letter => letter, :page => nil})),
                  :class => (params[:letter] == letter) ? 'active' : '' %>
  <% end %>
</div>


<% form_tag projects_path(params), :method => :get, :id => 'searchform' do %>
    <%= text_field_tag :search, params[:search], :id => 'searchbox' %>
    <%= submit_tag 'Search', :name => nil, :id => 'searchbox-sumbit' %>
    <%= hidden_field_tag :order, params[:order] %>
<% end %>

<p align="center">Order by:
  <%= link_to_unless (params[:order] == 'date'), 'New first', params.merge({:order => 'date'}) %> |
  <%= link_to_unless (params[:order] == 'votes'), 'Best first', params.merge({:order => 'votes'}) %>
</p>

<h4>
  <%= link_to 'Show all users', users_path, :class => 'black' if params[:search] or params[:letter] %>
</h4>


<div id="projects">
  <%= render :partial => 'project', :collection => @projects %>

  <%= will_paginate @projects %>
</div>

<% content_for :right do %>
    <%= render :partial => 'shared/tag_cloud' %>
<% end %>