<h2>Upload project logo - step 2/3</h2>

<%= missing_image(@project, :logo) %>


<% form_for @project, :url => logo_project_path(@project),
            :html => { :multipart => true, :method => :post } do |f| %>
    <p>
      <%= f.file_field :logo %>
      <%= f.submit 'Upload' %>
    </p>
<% end %>

<p>
  <%= link_to 'skip this step', images_project_path(@project) %>
</p>