<% title 'Add new project' %>

<h2>Add new project - step 1/3</h2>

<p>
  All fields are required, but you can change them later.
</p>

<%= render :partial => 'form', :locals => { :project => @project, :submit_text => 'Add project'} %>

<% content_for :right do %>
    <%= render :partial => 'shared/tag_cloud' %>
<% end %>