<% title @project.title %>

<% content_for :head do %>
    <%= javascript_include_tag 'lightbox' %>
    <script type="text/javascript">
        $j(function() {
            $j('p.gallery a').lightBox();
        });
    </script>
<% end %>

<div class="project" id="project<%= @project.id %>">

  <div class="head clearfix">
    <%= missing_image @project, :logo, :alt => 'logo', :class => 'logo' %>

    <h2><%= link_to h(@project.title), @project %></h2>
  </div>

  <div class="clearfix">
    <%= render :partial => 'projects/voting', :locals => { :votable => @project } %>

    <div class="project-text">
      <%= nl2br(h(@project.text)) %>
    </div>
  </div>

  <% unless @project.images.empty? %>
      <p class="gallery">
        <%= render :partial => @project.images %>
      </p>
  <% end %>

  <div class="meta">
    <p class="bookmarks clearfix">
      <%= twitter_link_for @project %>
      <%= facebook_link_for @project %>
    </p>

    <p class="flag">
      or
      <%= link_to_remote 'flag project',
                         { :url => flags_path('flag[flaggable_type]' => 'Project', 'flag[flaggable_id]' => @project.id),
                           :method => :post, :confirm => 'Are you sure?' }, { :class => 'gray' } %>
    </p>
  </div>


  <p>
    Website: <%= link_to h(@project.website), @project.website %>
  </p>

  <%= content_tag :p, 'Project is for sale', :class => 'for-sale' if @project.for_sale %>

  <%= render :partial => 'tags', :locals => { :project => @project } %>

  <%#= add_this_button %>
  <% unless @responses.empty? %>
      <h3 class="response-head">Responses</h3>
  <% end %>

  <div id="responses">
    <%= render :partial => @responses %>
  </div>

  <%= render :partial => 'responses/form', :locals =>
          { :response => @response, :submit_text => 'Add response', :project => @project } %>

</div>

<% content_for :right do %>
    <%= render :partial => 'projects/right', :locals => { :project => @project } %>

    <%= render :partial => 'shared/tag_cloud' %>
<% end %>
