<div class="response-form">
  <h4>Add new response to the project</h4>
  <% form_for response do |f| %>
      <%= f.error_messages %>
      <%= text_area_tag 'response[text]', params[:text], :cols => 50, :rows => 7 %>
      <p class="response-types clearfix">
        <%= link_to_function '', "$('response-type').value = 'happy'; $j('.active').removeClass('active'); this.addClassName('active')",
                             :class => 'happy-response' %>
        <%= link_to_function '', "$('response-type').value = 'neutral'; $j('.active').removeClass('active'); this.addClassName('active')",
                             :class => 'neutral-response' %>
        <%= link_to_function '', "$('response-type').value = 'sad'; $j('.active').removeClass('active'); this.addClassName('active')",
                             :class => 'sad-response' %>
      </p>
      <p>
        <%= f.submit submit_text, :disable_with => 'Saving...', :class => 'submit' %>
      </p>
      <%= hidden_field_tag :project_id, project.id %>
      <%= hidden_field :response, :mood, :id => 'response-type' %>
  <% end %>
</div>