<div class="response clearfix response-<%= response.mood %>" id="Response_<%= response.id %>">
  <div class="response-top"></div>

  <div class="response-content clearfix">
    <div class="response-right">
      <%= render :partial => 'responses/voting', :locals => { :votable => response } %>
      <em><%= short_date response.created_at %></em><br/>
      <strong><%= link_to h(response.author.name), user_path(response.author), :class => 'userlink' %></strong>
    </div>

    <div class="response-left">
      <p>
        <%= nl2br(h(response.text)) %>
      </p>

      <div class="meta clearfix">
        <small>
          <%= link_to_function "Show all comments (#{response.comments.count})",
                               'this.up("div.meta").next("div").toggle();this.hide();this.next().show()' %>
          <%= link_to_function "Hide all comments",
                               'this.up("div.meta").next("div").toggle();this.hide();this.previous().show()',
                               :style => 'display: none;' %>
        </small>
      </div>

      <div style="display: none;clear: both;">
        <div class="comments" id="Response<%= response.id.to_s %>">
          <%= render :partial => response.comments, :locals => { :response_mood => response.mood } %>
        </div>
        <%= render :partial => 'comments/form', :locals => { :commentable => response } %>
      </div>
    </div>
  </div>

  <div class="response-bottom clear"></div>
</div>