<div class="response-voting clearfix" id="voting-<%= votable.class.name.to_s + votable.id.to_s %>">

  <div class="response-voting-links">
    <%
       upvote = upvoted_on(votable)
       downvote = downvoted_on(votable)
    -%>

    <% if upvote -%>
        <%= link_to_remote 'Agree', :url => vote_path(upvote),
                           :method => :delete, :html => { :class => 'upvote-active' } %>
    <% elsif downvote -%>
        <%= link_to_remote 'Agree', :url => change_vote_path(downvote),
                           :method => :post, :html => { :class => 'upvote-change' } %>
    <% else -%>
        <%= link_to_remote 'Agree', :url => votes_path(:vote =>
                {:votable_id => votable.id, :votable_type => votable.class.name, :value => 1}),
                           :method => :post, :html => { :class => 'upvote' } %>
    <% end %>


    <% if downvote -%>
        <%= link_to_remote 'Disagree', :url => vote_path(downvote),
                           :method => :delete, :html => { :class => 'downvote-active' } %>
    <% elsif upvote -%>
        <%= link_to_remote 'Disagree', :url => change_vote_path(upvote),
                           :method => :post, :html => { :class => 'downvote-change' } %>
    <% else -%>
        <%= link_to_remote 'Disagree', :url => votes_path(:vote =>
                {:votable_id => votable.id, :votable_type => votable.class.name, :value => -1}),
                           :method => :post, :html => { :class => 'downvote' } %>
    <% end %>
  </div>

  <div class="response-points">
    <span><%= votable.points %></span>
  </div>
</div>