<% form_for @user, :url => { :action => 'update', :controller => 'passwords'} do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :old_password, 'Old password' %><br />
      <%= f.password_field :old_password %>
    </p>
    <p>
      <%= f.label :password, 'New password' %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit 'Change password' %>
    </p>
<% end %>