<% form_tag url_for(:controller => :passwords, :action => :destroy), :method => :delete do %>
    <div class="focusable-field">
      <%= label_tag :email, 'E-mail:' %>
      <%= text_field_tag :email %>
    </div>
    <div class="input-field">
      <%= submit_with_loading 'Reset password' %>
    </div>
<% end %>