<% if logged_in? %>
    <div id="chat">
      <div class="fixed">
        <%= link_to_function '', 'friendsShow(true)', :id => 'link-friends',
                             :class => 'tooltip', :title => 'Chat' %>
        <div id="friend-list" style="display: none;">
          <h4 class="friend-list-header">Online friends
            <%= link_to_function '-', 'chat.hideFriendlist()', :class => 'friends-hide' %></h4>
          <ul id="friend-list-list">
            <%= render :partial => 'users/online', :collection => current_user.online_friends %>
          </ul>
        </div>
        <div id="chat-friends">

        </div>
      </div>
    </div>

    <% if session[:chatboxes] %>
        <script type="text/javascript">
            $j(function() {

            <% for chatbox in session[:chatboxes] do %>
            <% conversation = Conversation.get(chatbox, current_user.id) %>
            <% conversation.last_messages.each do |message| %>
            <% message = render(:partial => 'chat/message', :object => message).gsub(/\n/, ' ') %>
            <%= "chat.attachFriend(#{chatbox}, '#{message}'); $j('#messages_#{chatbox}').scrollTo('+=100px',200);" %>
            <% end if conversation %>

            <% end %>
                chat.hideAllChats();
            });
        </script>
    <% end %>
<% else %>
    <div id="chat">
      <div class="fixed">
        <%= link_to_function '', 'friendsShow(false)', :id => 'link-friends',
                             :class => 'tooltip', :title => 'Chat' %>

        <div id="friend-list" style="display: none;">
          <h4 class="friend-list-header">Online friends
            <%= link_to_function '-', 'chat.hideFriendlist()', :class => 'friends-hide' %></h4>
          <ul id="friend-list-list">
            <p style="padding-left: 4px;"><strong>You must <%= link_to 'log in', login_path %> to chat</strong></p>
          </ul>
        </div>
      </div>
    </div>
<% end %>


