<div>
  <span style="color: <%= (message.sender_id == current_user.id) ? 'blue' : 'red' %>">
    <%= (message.sender_id == current_user.id) ? current_user.name : message.sender.name %></span>:&nbsp;
  <%= message.text %>
</div>