<h2>
  Change your avatar <%= ' - step 2/2' if @step %>
</h2>

<% form_for @user, :url => user_avatar_path(@user),
            :html => { :multipart => true, :method => :put } do |f| %>
    <%= f.error_messages %>
    <div class="input-field">
      <%= f.file_field :avatar %>
    </div>
    <%= f.hidden_field :id %>
    <%= hidden_field_tag 'step', @step %>
    <div>
      <%= submit_with_loading "Upload" %>
      <small>
        <% if @step %>
            <%= link_to 'Skip this step', finish_users_path %>
        <% else %>
            <%= link_to 'Back to profile', user_path(@user) %>
        <% end %>
      </small>
    </div>
<% end %>

