<ul class="navigation">
  <li><%= link_to 'Index', forums_path %></li>
  <% if defined? topic %>
      <li>&nbsp;&raquo;&nbsp;<%= link_to topic.forum.title, forum_topics_path(topic.forum) %></li>
      <li>&nbsp;&raquo;&nbsp;<%= topic.title %></li>
  <% end %>
</ul>