<div class="top clearfix">
  <p class="new-post-link">
    <strong><%= link_to 'Add new post', '#newpost' unless params[:search] %></strong>
  </p>

  <% if @topic %>
      <%= render :partial => 'navigation', :locals => { :topic => @topic } %>
  <% end %>

  <% if params[:search] %>
      <h2>
        <span>Search results for "<%= h params[:search] %>"</span>
      </h2>
      <% form_tag search_forums_path, :method => :get, :class => 'post-search-form' do %>
          <%= text_field_tag :search, params[:search], :size => 50 %>
          <%= submit_tag 'Search', :name => 'posts', :class => 'submit' %>
          <small>or <%= link_to 'go back to index', forums_path %></small>
      <% end %>

  <% end %>
</div>

<ul id="posts">
  <% @posts.each do |post| %>
      <li id="post<%= post.id %>" class="post clearfix">
        <div class="user">
          <p class="username">
            <%= link_to h(post.author.name), post.author %>
          </p>
          <%= link_to missing_avatar(post.author, :avatar), post.author %>
        </div>
        <div class="content">
          <div class="text">
            <%= post.text %>
          </div>

          <div class="meta clearfix">
            <%= voting_for(post) %>

            <p class="links">
              <%= spam_link_for(post) %>
              <span class="separator">|</span>
              <%= permalink_for(post) %>
            </p>
          </div>
        </div>
      </li>
  <% end if @posts %>
</ul>

<p>
  <%= will_paginate @posts %>
</p>

<%= render :partial => 'navigation', :locals => { :topic => @topic } if @topic %>

<% if @topic %>
    <% form_for [@topic, @post], :url => topic_posts_path(@topic) do |f| %>
        <div id="newpost" class="focusable-field textarea-field">
          <%= f.label 'post_text', 'Add new post' %>
          <br/>
          <%= focusable_textarea_tag 'post_text' %>
        </div>
        <div class="input-field">
          <%= submit_with_loading 'Submit' %>
        </div>
    <% end %>
<% end %>
