<% title "New Trade" %>

<h2>Convert credits to project points.</h2>

<% form_tag :controller => 'trades', :action => 'create' do %>
    <p>
      Currently you have <strong><%= current_user.credits %></strong> credits available.
      Gain more points by actively participating in the community. For more information,
      see <%= link_to "frequently asked questions", faq_path %>.
    </p>

    <div class="focusable-field">
      <%= label_tag :points, 'Number of points you want to convert' %>
      <%= text_field_tag :points, '', :id => 'trade-user-points-text' %>
    </div>

    <div class="focusable-field">
      <%= label_tag :project, 'Select project' %>
      <small>(start typing name of project)</small>

      <%= text_field_with_auto_complete :project, :title, {},
                                        { :url => { :controller => 'trades', :action => 'projects' },
                                          :method => :get, :with => "'search=' + element.value"} %>
    </div>

    <div class="input-field">
      <%= label_tag :results %>
      <div id="trade-result" class="success">
        User credits: <strong id="trade-user-points"></strong><br/>
        Project points: <strong id="trade-project-points"></strong>
      </div>
    </div>

    <div class="input-field">
      <%= submit_with_loading 'Convert!' %>
    </div>
<% end %>