<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= h(yield(:title) || "smallZOOM") %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Get instant feedback on your work. Join smallZOOM now and promote your projects and designs. In just few steps, you will be able to add your projects and start getting feedback from smallZOOM community."/>
  <meta name="keywords" content="project advertising, promotion, portfolio, portfolio feedback, project feedback, advertising"/>
  <meta name="copyright" content="2010 Intecro"/>
  <meta name="author" content="support@intecro.com"/>
  <meta name="robots" content="index, follow"/>

  <%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>

  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'ie', :media => 'screen, projection' %>
  <style type="text/css">
  #ie6-box {
  display: block !important;
  }
  </style>
  <![endif]-->

  <%= javascript_include_merged 'base' %>
  
  <% if logged_in? %>
      <%= juggernaut(:client_id => current_user.id, :debug => false) %>
      <%= periodically_call_remote :url => { :controller => :chat, :action => :poll }, :parameters => {
              :ids => 'chat.getFriends();'}, :frequency => 30 %>
      <!--<script type="text/javascript">-->
      <!--new Ajax.Request('/chat/poll');-->
      <!--</script>-->
  <% end %>
  <%= yield(:head) %>
</head>
<body>
<div id="flames"></div>


<div id="top-bg"></div>
<div id="container">
  <div id="left-links">
    <%= link_to '', 'http://twitter.com/smallzoom', :id => 'twitter' %>
    <%= link_to '', 'http://www.facebook.com/pages/smallZOOMcom/174022717656', :id => 'facebook' %>
    <%= link_to '', rss_url, :id => 'rss' %>
  </div>

  <%= render :partial => 'chat/chat' %>

  <div class="clearfix">
    <%= render :partial => 'shared/userbox' %>
    <h1 id="header"><%= link_to "small ZOOM", root_path %></h1>
    <span id="subheader">Share your projects</span>

  </div>

  <div id="content" class="clearfix">
    <div id="left">
      <%= render :partial => 'shared/ie6' %>

      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => name %>
      <% end -%>

      <%= yield %>
    </div>

    <div id="right">
      <%= yield(:right) || render(:partial => 'shared/right') %>
    </div>

  </div>


  <p id="footer">
    &copy; 2011 Copyright <a href="http://intecro.com/">Intecro</a> | All rights reserved |
    <%= link_to "Contact us", contacts_path %>
  </p>

</div>
<div id="bottom-bg"></div>

<!-- analytics -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-11270711-1");
        pageTracker._trackPageview();
    } catch(err) {
    }</script>
<!-- analytics end -->
</body>
</html>
