<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= yield(:title) || "smallZOOM - Forum" %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="smallZOOM is a great system where you can present your work, projects, yourself or your company."/>
  <meta name="keywords" content="project advertising, promotion, portfolio, portfolio promotion"/>
  <meta name="copyright" content="2010 Intecro"/>
  <meta name="author" content="support@intecro.com"/>
  <meta name="robots" content="index, follow"/>
  <%= javascript_include_tag 'prototype', 'lowpro', 'controls', 'effects',
                             'jquery', 'application', 'forum' %>
  <%= stylesheet_link_tag 'forum' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>

  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'ie', :media => 'screen, projection' %>
  <style type="text/css">
  #ie6-box {
  display: block !important;
  }
  </style>
  <![endif]-->
  <%= yield(:head) %>
</head>
<body>

<div id="wrapper">

  <div id="header">
    <h1><%= link_to "smallZOOM forum", forums_path %></h1>

    <p>Forum for <%= link_to 'smallZOOM', root_path %></p>
  </div>

  <ul id="menu" class="clearfix">
    <li>
      <%= link_to 'Search', search_forums_path %>
    </li>
    <li>
      <ul class="userbox">
        <% unless logged_in? %>
            <li>
              <%= link_to 'Sign up', signup_path %>
              <span class="separator">|</span>
            </li>
            <li>
              <%= link_to 'Log in', login_path %>
            </li>
        <% else %>
            <%= link_to h(current_user.name), current_user %>
        <% end %>
      </ul>
    </li>
  </ul>

  <%= render :partial => 'shared/ie6' %>

  <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :class => name %>
  <%- end -%>

  <%= yield %>

  <div id="footer" class="block">
    <%= yield(:footer) %>

    <p class="copyright">
      &copy; 2009 <%= link_to "Intecro", "http://intecro.com/" %>
    </p>
  </div>

  <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
      try {
          var pageTracker = _gat._getTracker("UA-11270711-1");
          pageTracker._trackPageview();
      } catch(err) {
      }</script>
</div>
</body>
</html>


